*{
    margin: 0px;
    padding: 0px;
}
.box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7,
.box8,
.box9 {
    border: 1px solid black;
    border-radius: 10px;
    margin: 2px;
    width: 100px;
    height: 100px;
    background: orange;
    float: left;
}
.box4 {
    clear: left;
}

.box7 {
    clear: left;
}